@charset "UTF-8";
.row {
  padding: 0 0.3rem;
  background-color: white;
  border-bottom: 1px solid #dcdddf;
}
.row img {
  height: 1.28rem;
  margin-right: 0.3rem;
}
.shoppingCont {
  position: relative;
  display: -webkit-box;
  display: flex;
  padding: 0.3rem 0;
}
.list-view-section-body .row:last-child {
  border: 0;
}
.row-title {
  line-height: 18px;
  color: #000;
  font-size: 14px;
}
.row-text {
  display: inline-block;
  font-size: 0.32rem;
  line-height: 1;
}
.shoppingTab-right {
	-webkit-box-flex:1;
	-ms-flex:1;
	flex:1;
	display:block;
	width:0;
  overflow-y: auto;
  position: relative;
}

.row:last-child{
  border: 0;
}

.shoppingDes {
  margin-bottom: 0.16rem;
  margin-top: 0.16rem;
  font-size: 12px;
  color: #9ea1a8;
}
.shoppingPrice {
  font-size: 12px;
  font-weight: bold;
  color: #979ca2;
}
.shoppingPrice span {
  color: #fa1414;
  font-size: 14px;
}

.shoppingTab-Title{
  padding: .1rem .266667rem;
  font-size: .28rem;
  color: #888;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  border-left: 2px solid #d9dce1;
  background: #f4f5f7;
}